<!DOCTYPE html>
<html>

<head>
    <title>About</title>
     <link rel="stylesheet" href="./css/styles.css">
    </head>
    
   
      <body> 
          <header>
    <h1>{{title}}</h1>

    <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    </header>
         
        <p>about us {{name}}</p>
    </body>
         <div class="main-content"></div>
          <footer>
        <p>created by {{name}}</p>
    </footer>


</html>